<html lang="en">
<link rel="stylesheet" type="text/css" href="main.css">
<head>
    <title>HOME</title>
</head>
<body>
<div class="navbar">
    <h1>Learn English</h1>
    <ul>
        <li class="navbarButtons"><a href="http://localhost:8000/search">&#x1F50E;&#xFE0E;</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/add">Add Words</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/getE">Show Word To English</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/getB">Show Word To Bulgarian</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/numberOfWords">Show Number Of Words</a></li>
    </ul>
</div>
</body>
</html>