<html xmlns:th="https://thymeleaf.org">
<link rel="stylesheet" type="text/css" href="main.css">

<head>
    <title>SAVE WORDS</title>
</head>
<div class="navbar">
    <h1>Learn English</h1>
    <ul>
        <li class="navbarButtons"><a href="http://localhost:8000/search">&#x1F50E;&#xFE0E;</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/add">Add Words</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/getE">Show Word To English</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/getB">Show Word To Bulgarian</a></li>
        <li class="navbarButtons"><a href="http://localhost:8000/numberOfWords">Show Number Of Words</a></li>
    </ul>
</div>
<table>
    <tr>
        <td><p class="text">Words: </p></td>
        <td><p class="the_word" th:text="${addWordsDto.words}"></p></td>
    </tr>
</table>

</html>  